{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}
{% trans_default_domain 'AppBundle' %}
{% block stylesheets %}
	{{ parent() }}
{% endblock %}
{% block body %}
	<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    	<h1 class="page-header">Plato</h1>
    
        <h2 class="sub-header">Añadir plato</h2>
        <div class="div_form">
        	<form action="#" method="post" {{ form_enctype(form) }}>
                {{ form_widget(form) }}
			</form>
        </div>
       	<div class="border-left">
        	<a type="button" class="btn btn-default" href="{{ path( 'listPlato' ) }}">Atrás</a>
        </div>  
  	</div>
{% endblock %}
